__pycache__/*
.ipynb_checkpoints/*
.vscode/*
data/Img/*
data/Img_processed/*
data/Img_processed_lite/*
Logs/*
!Logs/start_2023_12_15_11-17-28_logs/*
!Logs/start_2023_12_16_13-56-39_logs/*
src/__pycache__/*
src/utils/__pycache__/*
```